body {
    background-color: #191b1f;
    padding: 0;
}

.header {
    text-align: center;
    color: #4b67bb;
    align-content: center;
    justify-content: center;
    font-family: 'Pacifico', 'Roboto', 'Oswald', sans-serif, 'Merriweather', 'Montserrat', 'Open Sans', sans-serif, cursive;
}

.header h1 {
    display: inline-block;
}

img {
    height: 3%;
    width: 8%;
    margin-left: 10px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


/* Greeting styling and animation */

.greeting {
    margin-left: 10%;
    margin-top: 20px;
    color: #e6e8e9;
    font-size: 16px;
    width: 200px;
    background-color: #000000;
    text-align: center;
    padding: 10px;
}

.about {
    color: #697ea3;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
}

.about a {
    font-size: 14px;
    padding: 10px 25px;
    text-decoration: none;
    background-color: #1453dc;
    color: #fff;
    border: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 10px 10px 10px 10px;
}

.about h2 {
    margin: 0;
    padding: 0;
    text-shadow: 0 2px #cfcdcd80;
    font-size: 42px;
    font-family: 'Merriweather', 'Oswald', 'Roboto', sans-serif;
}

.about p {
    font-size: 14px;
    color: #898b8d;
    font-family: 'Merriweather', 'Oswald', 'Roboto', sans-serif;
}


/* specialities animaion*/

span:before {
    font-size: 40px;
    color: #a0b0df;
    text-shadow: none;
    content: " ";
    animation: animate infinite 8s;
    -webkit-animation: animate infinite 8s;
}

@keyframes animate {
    0% {
        content: " an  Engineer";
    }
    30% {
        content: " a Developer ";
    }
    50% {
        content: " an Entrepreneur";
    }
    75% {
        content: " an Educator ";
    }
    100% {
        content: " a Mentor";
    }
}

.interests {
    margin-top: 10px;
    color: #f2f2f2;
    font-family: sans-serif;
}

.btn-cv:visited,
.btn-cv:hover {
    text-decoration: none;
    background-color: #000000;
}

a:hover,
a:visited {
    color: #ffffff;
    text-decoration: none;
}

.btn-cv {
    width: 100px;
    padding: 5px;
    background-color: #4c5e86;
    border: 1px solid #ffbf00;
    align-items: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 30px;
    text-decoration: none;
}

.interests p {
    color: #ffbf00;
    text-align: center;
    margin-top: -30px;
}

footer h2,
footer h4 {
    color: #3e5981;
    font-family: 'Oswald', 'Merriweather', 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

footer li a {
    text-decoration: none;
    margin-right: 2em;
    color: #97a7c5;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', 'Oswald', 'Roboto', sans-serif;
}

footer ul {
    list-style-type: none;
}

footer {
    text-align: center;
}