body {
    background-color: #191b1f;
    padding: 0;
}

.header {
    text-align: center;
    color: #4b67bb;
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', 'Roboto', 'Oswald', sans-serif, 'Merriweather', 'Montserrat', 'Open Sans', sans-serif, cursive;
}


/* Greeting styling and animation */

.greeting {
    margin-left: 5%;
    color: #a7a8aa;
    font-size: 16px;
}

.about {
    color: #697ea3;
    margin-left: 10%;
}

.about a {
    font-size: 14px;
    padding: 10px 25px;
    text-decoration: none;
    background-color: rgb(20, 83, 220);
    color: #fff;
    border: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 1em auto;
}

.about h2 {
    margin: 0;
    padding: 0;
    text-shadow: 0 2px #cfcdcd80;
    font-size: 42px;
    font-family: 'Merriweather', 'Oswald', 'Roboto', sans-serif;
}

.about p {
    font-size: 14px;
    color: #898b8d;
    font-family: 'Merriweather', 'Oswald', 'Roboto', sans-serif;
}


/* specialities animaion*/

span:before {
    font-size: 40px;
    color: #a0b0df;
    text-shadow: none;
    content: " ";
    animation: animate infinite 8s;
    -webkit-animation: animate infinite 8s;
}

@keyframes animate {
    0% {
        content: " an  Engineer";
    }
    25% {
        content: " a Developer ";
    }
    50% {
        content: " an Entrepreneur";
    }
    75% {
        content: " an Educator ";
    }
    100% {
        content: " a Mentor";
    }
}

.interests {
    margin-top: 5%;
    color: #f2f2f2;
    font-family: 'Pacifico', 'Roboto', 'Oswald', sans-serif, 'Merriweather', 'Montserrat', 'Open Sans', sans-serif, cursive;
}

.interests p {
    color: #ffbf00;
    text-align: center;
    margin-top: -30px;
}

footer h2,
footer h4 {
    color: #3e5981;
    font-family: 'Oswald', 'Merriweather', 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

footer li a {
    text-decoration: none;
    margin-right: 2em;
    color: #97a7c5;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', 'Oswald', 'Roboto', sans-serif;
}

footer ul {
    list-style-type: none;
}

footer {
    text-align: center;
}

a,
a:visited,
a:hover {
    color: rgb(9, 165, 249);
    text-decoration: none;
}

.education {
    display: block;
    margin: 30px 0 0 10%;
    text-align: justify;
    justify-content: center;
}

.tertiary,
.professional,
.personal {
    display: inline-block;
    color: #898b8d;
    width: 300px;
    margin-left: 10px;
    text-align: justify;
    padding: 10px;
    font-size: 12px;
}

.tertiary:hover,
.professional:hover,
.personal:hover {
    zoom: 1.2;
}