/* .main {
    margin: 2em;
} */

.contents h1 {
    font-size: 36px;
    color: #1F2937;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    margin: 2%;
}

.profile {
    margin: 2%;
    padding: 2%;
}

.profile-pic {
    border-radius: 50%;
    display: block;
}

.cv,
.mail,
.expotech {
    color: #438463;
}