.main {
    margin: 2em;
}

h1 {
    font-size: 32px;
    color: #1F2937;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}

.flex-1 {
    text-align: justify;
    display: block;
    padding: 2em;
}

.profile {
    margin-right: 15%;
}

.profile-pic {
    border-radius: 50%;
    display: block;
}

.cv,
.mail,
.expotech {
    color: #438463;
}