.main {
  margin: 2em;
}

.main h1 {
  font-size: 32px;
}

.col {
  width: 600px;
  text-align: justify;
  display: block;
}

.row {
  display: inline-flex;
  row-gap: 50px;
}

.profile-pic {
  margin: 1em;
  border-radius: 50%;
  display: block;
  align-self: flex-end;
}

.cv,
.mail {
  color: #277dd3;
}